.left-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .app-list{
    font-size: 20px;
  }
  .intro{
    font-size: 20px;
    width: 55rem;
  }
  .mobile-profile-img{
    display: none;
  }
  img{
    border-radius: 30%;
  }
  .logos{
    display: flex;
    font-size: 5rem;
    padding: 3rem;
    position: relative;
    gap: 6rem;
    color: grey;
  }
  .css-logo{
    position:  relative;
    top: 3rem;
  }
  .react-logo{
    position: relative;
    top: 3rem;
  }